/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --nunitoFontFamily: "Nunito", san-serif;
  --latoFontFamily: "Lato", san-serif;
  --control-border-width: 2px;
  --input-border-color: transparent;
  --input-shadow: none;
}

// Global Styles

html, body{
  height: 100%;
}

html{
  background-image: url(../public/images/background.svg);
  background-size: cover;
  overflow-y: auto !important;
}

.container{
  @apply w-[90%] mx-auto;
}
